:root{
    --main-txt-color:white;
    --main-bg-color:#7373D7;
    --color-btn-hover:#C9C9FF;
    --secondary-txt-color:black;

}
*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Rubik",sans-serif;
}
body{
    background-color: black;
}

/* ----------DEFAULTS----------------- */
.title{
  color: var(--main-txt-color);
  font-weight: 700;  
}
.paragraph{

}

.section{
    background-color: var(--main-txt-color);
}













.container{

  
}
.hidden{
    display: none !important;
}

.img_question-icon{
    right:5%;
    bottom: 10%;
   
    position: fixed;
    z-index: 3;
}
/* ----------- POP-UP ------------- */
.pop-up{
position: fixed;
width: 100vw;
height: 100vh;
z-index: 3;
background-color:#111111bf;
top: 0;
bottom:0;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}
.nav-bar--pop-up{
    z-index: 3 !important;
    flex-direction: column;
    font-size: 3.4rem;
    text-transform: uppercase;
    gap: 5rem !important;
}
.close{
    z-index: 3;
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 5.5rem;
    color: var(--main-txt-color);
}






/* ----------- HEADER PART ------------- */
.header{
padding:  2rem 5rem 5rem 5rem ;
color: white;
text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
width: 100%;
height: 110vh;
background-image: url('../public/images/header-img.jpg');
background-position: center;
background-size: cover;
}




/* Navigation part */
.navigation{
width: 95%;
display: flex;
flex-direction: column;
align-items:center;
gap: 2rem;
color:var(--main-txt-color) !important;
}
.navigation__shipping-info{
    padding-bottom: 2rem;
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;

}
.navigation__bar,.nav-bar{
    display: flex;
    justify-content: space-between;

}
.navigation__bar{
    font-size: 1.5rem;
    width: 100%;
    align-items: center;
}
.nav-bar{
gap: 2rem;
list-style: none;

}
.nav-bar--menu,.nav-bar--cart{   

}

.nav-bar--cart{
    
}
.nav-bar--mobile-menu{
display: none;
}
.nav-bar--mobile-cart{
    display: none;

}
.nav-bar--title{
font-size: 4rem;
font-weight: 600;
}
.nav-bar__item{

}
.nav-bar__link{
    color: inherit;
    text-decoration: none;
    font-weight: 700;
}
.navigation__page{
display: flex;
list-style: none;
color: grey ;
justify-self: start;
align-self: flex-start;
font-size: 1.4rem;
gap: 1rem
;
}
.page{

}
.page__link{
    text-decoration: none;
    color: grey ;
   

}
.page__link--current{
color: black !important;
}
/*---------------- HEADER CONTENT---------- */
.header__content{
text-align: center;
width: 60%;
margin: 0 auto;
}
.heading-2{
  
}
.heading-1{
    font-size: 7.5rem !important;
}
.heading-2--title{
    font-size: 2rem;  
}
.heading-1--title{
      
    margin-bottom: 2rem;
}
.btn{
background-color: white;
font-size: 1.7rem;
padding: 1.5rem 3.5rem;
border-radius: 5rem;
font-weight: 500;
border: none;

}
.btn--header{
color: var(--main-txt-color);
text-decoration: none;
background-color: var(--main-bg-color);
}


/* -- -------------  SECTION PRODUCTS ------------ -- */

.section--products{
background-color: var(--main-txt-color);
height: auto;
display: flex;
flex-direction: column;
padding: 10rem 2rem 10rem 10rem;
gap: 2rem
;

}
.products{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.products__title{
font-size: 3.5rem;
font-weight: 700;
}
.products__nav{
    margin-right: 10rem;
   display: flex;
   align-items: center;
   gap: 2rem;
}

.shop-all{
    font-size: 2rem;
    color:black;
    font-weight: 600;
    border-bottom: solid 2px var(--main-bg-color);
 
}
.products__btn_box{
    display: flex;
    gap: 1rem;
}

.btn--left,.btn--right{
    padding: 1rem 1.3rem;
    border-radius: 50%;
    
}
.btn--left{
    background-color: grey;
}
.btn--right{
    background-color: var(--main-bg-color);
}
.btn-img{
    width: 100%;
}

.main-carousel{
}
.products__carousel{
    height: 90vh;

}
.carousel-cell {
   
    
   
   
  }
/* ------- PRODUCT CARD ------------- */
.slide{
    width: 33%; /* half-width */
    height: 100%;
    margin-right: 10px;
position: relative;
display: flex;
flex-direction: column;
gap: 1rem;
}
.slide__icon{
position: absolute;
font-size: 1.5rem;
text-transform: uppercase;
color: var(--main-bg-color);
background-color: var(--main-txt-color);
padding: 2.5rem 2rem;
border-radius: 100%;
top: 2rem;
right: 2rem;
}
.slide__img-box{
    background-color:var(--main-bg-color);
    display: flex;
    flex-direction: column;
    height: 85%;
   
}
.slide__img{
width: 100%;
height: 100%;


}
.btn__slide{
    border: none;
    border-top: 1px solid white;
    width: 80%;
    border-radius: 0;
color:var(--main-txt-color);
font-size: 1.5rem;
align-self: center;
justify-self: center;
background-color: transparent;
}
.slide__description{
    font-size: 1.6rem;
    font-weight: 600;
}
.slide__price{
    font-size: 1.8rem;
    font-weight: 600;
}
.original-price{
margin-left: 2rem;
font-weight: 300;
color:rgba(128, 128, 128, 0.693);
text-decoration: line-through;
}
.current-price{

}

/* ----------------- SECTION BRAND ----------------- */
.section--brand{
padding:7rem;
height: auto;
background-color: var(--main-txt-color);
display: flex;
flex-direction: column;
gap: 3rem;
}
.section--brand__intro{
text-align: center;
line-height: 4.5rem;
}
.heading-4--brand{
font-size: 1.8rem;
}
.heading-2--brand{
font-size:3.4rem;
display: flex;
flex-direction: column;
}
.brand-title--blue{
    color:var(--main-bg-color);
    border-bottom: dashed;
    
    
    align-self: center;
}
.brand-carousel{
    height: 55vh;
}
.brand-carousel__slide{
    width: 25%; /* half-width */
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding: 3rem;
    padding-bottom: 5rem;

}

/* ---------- use of library ----------- */
.flickity-page-dots {
    bottom: -22px;
  }
  /* dots are lines */
  .flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
  }

.brand-carousel__img-box{
}
.brand-carousel__img{
    width: 90%;

}
.barand-carousel__product-name{
    font-size: 1.8rem;
    font-weight: 600;
}
.barand-carousel__product-description{
    font-size: 1.4rem;
    

}

/* ---------- COLLECTIONS PART ----------- */
.section--collections{
    background-color: var(--main-bg-color);
    color: white;
}
.slide--collections{
    width: 40%;

}
.slide__img--collections{
    width: 100%;

}
.collections-info-box{
    width: 50%;
}
.collections__description{
    
    font-size: 2rem;
}
.btn--right--collections{
    background-color: rgba(255, 255, 255, 0.19);
}



@media (max-width:600px) {
    /* --------HEADER RESPONSIVE PART */
html{
    font-size: 55%;
}
   
    .header{
padding: 1rem 1rem 5rem 1rem;

        background-image: url('../public/images/mobile-version/header-img.jpg')
        ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .heading-1{
font-size: 4.5rem !important;
    }
.nav-bar--menu,.nav-bar--cart{
display: none;
}
    .nav-bar--mobile-menu{
        display: flex;
        font-size: 1.8rem;
        font-weight: 600;
        }
        .nav-bar--mobile-cart{
            display: flex;
            font-size: 1.8rem;
            font-weight: 500;
        }
        .header__content{
           
            width: 90%;
          
            }
          
          
            .heading-1--title{
                font-size: 5.5rem; 
                margin-bottom: 3rem;
            }
           
            /* ---------- SECTION 1 PRODUCTS RESPOSIVE PART */
            .section--products{
                padding: 7rem 2rem;
            }
            
            
            .products{
               flex-direction: column;
            
            align-items: flex-start;
            }
            .products__title{
                font-size: 2.5rem;
            }
            .products__nav{
                justify-content: space-between;
                margin-right: 0;
                width: 100%;
            }
            .slide{
                width: 80% !important;
            }
            /* ----------- SECTION BRAND RESPONSIVE */
            .section--brand{
                padding: 2rem;
                padding-bottom: 5rem;
            }
            .heading-4--brand{
                font-size:1.6rem;
            }       
            .heading-4--brand{
                font-size:3rem;
            } 
            .brand-carousel__slide{
                width: 85% !important;
            }
            .barand-carousel__product-description{
font-size: 1.8rem;
            }
            
                 /*---------- SECTION COLLECTION RESPONSIVE PART  */
                 .collections-carousel{
                    height: 45vh;
                 }
                 
                 .collections-info-box{
width: 100% !important;
margin: 2rem 0;
                 }
    
}

