.header--pdp{
    background-image: none;
    background-color:var(--main-txt-color);
    height: 120vh;
}
.navigation--pdp{
    color: black !important;
}
/* -----------------  HEADER CONTENT ---------------------- */

.header__content--pdp{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(50%,1fr));
color: black;
}
.product__gallery{

}

.product__info{
    padding: 0 5rem;
display: flex;
flex-direction: column;
gap: 3rem;
}
.product__name{
font-size: 2.2rem;
font-weight: 600;
}
.product__price{
font-size: 1.6rem;
font-weight: 500;
}
.product__description{
font-size: 1.4rem;
font-weight: 500;
}
.product__details{

    line-height: 5rem;
}
.product__size{
font-size: 1.4rem;
}
.product__varient-box{
display: flex;
gap: 2rem;
}
.btn--varient{
    padding: 0.8rem 1.6rem;
    
    border: solid 1px grey;
    border-radius: 0 ;
}
.form__subscription{
display: flex;
flex-direction: column;
gap: 2rem;

}
.btn-icon-box{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid 1px grey;
    display: grid;
  
    align-items: center;
    justify-items: center;
    position: relative;   
}
.btn-icon{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: var(--main-bg-color);
    align-self: center;
    justify-self: center;   
    position: relative;
 position: absolute;
 
}
.purchase-option{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-items: center;
}
.subscription-content{
    font-size: 1.4rem;
}
.cart-menu{
display: flex;

width: fit-content;
border:solid 1px rgba(176, 174, 174, 0.577);

}
.cart-menu__qty{

}
.btn--qty{

}
.qty-number{
font-size: 1.4rem;
font-weight: 500;
}
.btn--add-to-cart{
border-radius: 0;
background-color: var(--main-bg-color);
color: var(--main-txt-color);
border:solid 1px var(--main-bg-color);
}
.dropdown{
display: flex;
flex-direction: column;

;
}
.dropdown__item{
    font-size: 1.4rem;
    display: flex;
justify-content: space-between;
padding: 2rem 0.3rem;
background-color: transparent;
border: none;
border-bottom: solid 1px rgba(128, 128, 128, 0.461);

}
.dropdown__item:first-child{
    border-top: solid 1px rgba(128, 128, 128, 0.461);

}
.item__name{

}
.item__icon{
color: var(--main-bg-color);
font-size: 1.8rem;
font-weight: 500;
}